html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    padding: 0 0 20px 0;
    background-color: #EEE;
    background-image: url("/images/theme/bg-01.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

.navbar {
    box-shadow: 0 5px 4px -6px #000;
}

    .navbar li {
        font-weight: bold;
    }

.postHeading {
    color: white;
    font-size: 1.3em;
    font-family: 'Roboto';
    padding: 16px 0 16px 0;
}


.sectionHeader {
    background-color: rgba(43, 42, 42,0.9);
    padding: 8px 0 24px 24px;
}

.sectionHeading {
    color: white;
    font-size: 1.3em;
    font-family: 'Roboto';
    padding: 25px 0 16px 0;
    border-bottom: 1px solid #335;
    margin-bottom: 12px;
}

.sectionInfo {
    height: 400px;
    background-color: white;
}

.frontPageSpalsh {
    font-family: 'Roboto';
    height: 280px;
    padding: 0 0 0 0;
}

.sectionDescription {
    color: #EEE;
}

.frontPageHeading {
    font-size: 3.2em;
    margin: 16px 0;
    font-weight: bold;
}

.frontPageLearn {
    height: 280px;
    background-image: url("../images/forum/forumSplash.jpg");
    background-repeat: no-repeat;
    background-position: right;
    width: 100%;
}

.frontPageContent {
    background-color: rgba(255,255,255,0.9);
    padding: 16px;
}

#latestsPosts {
    font-size: 1.2em;
    font-weight: bold;
    color: #333;
    margin: 4px 0 16px 0;
}


.frontPageSubHeading {
    font-size: 2em;
    font-weight: bold;
}

.frontPageTopContainer {
    padding: 40px 80px 42px 40px;
    border: 1px solid #999;
    background-color: #2569D5;
    font-family: 'Roboto';
}

.globalSearchIcon {
    font-size:46px !important;
    color:red;
}
.forumSearchIcon {
    font-size: 39px !important;
}

.homeSearch {
    width: 100%;
    margin-top: 8px;
    background: rgba(0,0,0,0.1);
    padding: 8px;
    border: 0px;
    height: 2.3em;
    font-size: 1.4em;
    font-family: 'Roboto Mono';
    font-weight: bold;
    transition: ease-in 0.2s;
}

.dropDownMainPage {
    color: rgba(255,255,255,.55) !important;
    font-weight: bold;
    text-decoration: none;
}

.homeSearch:focus {
    border: none !important;
    outline: none !important;
    transition: ease-in 0.2s;
    color: #03A9F4;
    background-color: rgba(0,0,0, 0.7);
    box-shadow: 0 5px 4px -6px #000;
}

.navbarLogo {
    background-image: url("../images/forum/logo1.png");
    background-repeat: no-repeat;
    padding-right: 56px;
    width: 150px;
    margin-right: 12px;
}

.postTitle {
    font-family: 'Roboto';
    font-weight: bold;
}

.postSubTitle {
    color: #888;
    font-family: 'Roboto Mono';
    font-size: 0.8em;
}

.postData {
    display: inline-block;
}

.postDate {
    color: #888;
    font-family: 'Roboto Mono';
    font-size: 0.8em;
}

.postLogo {
    display: inline-block;
    border-radius: 3px;
    margin-right: 20px;
    height: 40px;
    width: 40px;
    background-color: #ddd;
}


.postAuthorImage {
    height: 80px;
    width: 80px;
    background-size: 100%;
}

.postAuthorContainer {
    padding: 12px;
    color: #444;
    font-family: 'Roboto';
    width: 190px;
}

.postIndexTitle {
    font-size: 1.4em;
    color: white;
}

#postIndexContent {
    background-color: white;
    box-shadow: 0 10px 20px rgba(0,0,0,0.2), 0 6px 6px rgba(0,0,0,0.3);
}


.postContentContainer {
    font-family: 'Roboto';
    color: #222;
    padding: 22px;
    border-left: 1px, solid #ddd;
}


.postHeader {
    background-color: rgba(43, 42, 42,0.9);
    padding: 8px 0px 24px 24px;
}

.postAuthorRating {
    font-size: 0.9em;
    color: #159;
    font-family: 'Roboto Mono';
}

#forumIndexTable td {
    background-color: rgba(255, 255, 255, 0.9);
}

#forumIndexTable tr:hover {
    background-color: rgba(0, 116, 238, 1);
}

.forumRegText {
    text-align: center;
}

.forumData {
    display: inline-block;
}

.forumTitle {
    font-family: 'Roboto';
    font-weight: bold;
    font-size: 1.1em;
}

.forumSubTitle {
    font-family: 'Roboto Mono';
    font-size: 0.8em;
    color: #888;
}

.forumDescription {
    font-family: 'Roboto';
    color: #555;
}

.forumLogo {
    border-radius: 3px;
    float: left;
    margin-right: 20px;
    height: 40px;
    width: 40px;
    background-color: #ddd;
    border: 1px solid #555;
    background-size: 100%;
}

.forumPostCount {
    color: #888;
    font-family: 'Roboto Mono';
    font-size: 0.9em;
}

.forumMemberCount {
    color: #888;
    font-family: 'Roboto Mono';
    font-size: 0.9em;
}

#fornIndexContent {
    padding-bottom: 60px;
    background-color: white;
}

.noPost {
    text-align: center;
    padding-top: 30px;
    font-family: 'Roboto Mono'
}

.createPostSection {
    background-color: #fff;
    padding: 24px;
}

.body-content {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
}

.btn-back {
    background-color: #555;
    color: #fff !important;
    transition: ease-in 0.1s;
    border-radius: 0px !important;
}

    .btn-back:hover {
        background-color: #1E88E5 !important;
        transition: ease-in 0.1s;
    }

.btn-newReply {
    background-color: #5C6BC0 !important;
    color: #fff !important;
    transition: ease-in 0.1s;
    border-radius: 0px !important;
}

    .btn-newReply:hover {
        background-color: #9FA8DA !important;
        transition: ease-in 0.1s;
    }


.btn-file {
    background-color: #4FC3F7;
    color: white;
    transition: ease-in 0.3s;
    width: 100%;
}


    .btn-file:hover {
        background-color: #039BE5;
        transition: ease-in 0.3s;
    }

.btn-newPost {
    background-color: #c62828 !important;
    color: #fff !important;
    transition: ease-in 0.1s;
    border-radius: 0px !important
}


    .btn-newPost:hover {
        background-color: #e53935 !important;
        transition: ease-in 0.1s;
        color: #fff !important;
    }


.btn-submitPost {
    background-color: #00695C !important;
    color: #fff !important;
    transition: ease-in 0.1s;
    border-radius: 0px !important
}


    .btn-submitPost:hover {
        background-color: #00897B !important;
        transition: ease-in 0.1s;
        color: #fff !important;
    }



.btn-forumSearch {
    background: none !important;
    border: none;
    padding: 0 !important;
    font: inherit;
    color: white;
}

#headingBtn {
    float: right;
    margin-right: 20px;
}



.searchBar {
    padding: 3px 5px 2px 12px;
    margin: 8px;
    background-color: #1e1e1e;
    width: 25%;
    transition: ease .3s;
    border: none;
    color: white;
}

    .searchBar:focus {
        color: black;
        width: 60%;
        background-color: white;
    }

.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}
